#formulario {
    display: inline-block;
    box-sizing: border-box;
    padding: 3%;
    margin-left: 30%;
    border: 1px solid #000000;
    margin-top: 5%;
    margin-bottom: 60px;
    width: 600px;
    height: auto;
}

#formulario h2 {
    text-align: center;
    color: #000000;
}

.inputs {
    display: flex;
}

input {
    width: 100%;
}

.boton {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

button {
    width: 100%;
    border: 1px solid gray;
    border-radius: 4px;
    color: #000000;
    background: #fff;
    padding: 5px;
}

button:hover {
    cursor: pointer;
    background: pink;
}

.containerLabel {
    width: 150px;
    margin-right: 10px;
}

input {
    margin-bottom: 10px;
    margin-left: 10px;
    width: 300px;
}

select {
    margin-bottom: 10px;
}