.tituloPrincipal{
    display: flex;
    justify-content: center;
}

.tabla {
    color: #000000;
    border: 1px solid #000000;
    width: 100%;
    align-content: center;
    text-align: center;
    margin-top: 5%;
    padding-right: 4%;
    margin-bottom: 50px;
}

.fotoAutor {
    width: 150px;
    height: auto;
}

.botonEliminar {
    border: 2px solid #FF87CA;
    border-radius: 80px;
    color: #9C19E0;
    background: pink;
}

.botonEliminar:hover {
    cursor: pointer;
    background: #F4BEEE;
}