.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
}

.tituloPrincipal {
    display: flex;
    align-items: center;
    justify-content: center;
}

.containerLibros {
    display: grid;
    grid-template-columns: 300px 300px 300px 300px;
    grid-template-rows: 450px 450px 450px;
    column-gap: 20px;
    row-gap: 20px;
}

.cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* border: 1px solid gray; */
    /* background-color: antiquewhite; */
    border-radius: 4px;
    padding: 10px;
    box-shadow: 5px 5px 12px #888;
}

.containerImg {
    height: 240px;
}

.fotoAutor {
    width: auto;
    height: 220px;
}

.botonEliminar {
    border: 1px solid gray;
    border-radius: 4px;
    color: #000000;
    background: #fff;
}

.botonEliminar:hover {
    cursor: pointer;
    background: pink;
}