.header {
    text-align: center;
    color: #000000;
    padding: 20px;
    font-size: 20px;
    background: pink;
}

.header nav {
    display: flex;
    justify-content: center;
    padding-left: 5%;
    padding-right: 5%;
}

.link {
    text-decoration: none;
    color: #000000;
    letter-spacing: 5px;
    padding-right: 5%;
}


.link:hover {
    color: #9C19E0;
}